#page404 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  letter-spacing: 0.1em;
  animation: fadein 2s;

  h1 {
    animation: colorchange 2s infinite alternate;

    @keyframes colorchange {
      0% {
        color: #000000;
        opacity: 0.6;
      }

      100% {
        color: #000000;
        opacity: 1;
      }
    }
  }

  .game {
    border-radius: 20px;
    margin-bottom: 2vh;
    border: 4px solid #f6f6f6;
    background-color: #f6f6f6;
    width: 40vw;
    height: 40vh;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .link404 {
    font-size: 2em;
    color: #000000;

    &:hover {
      color: #000000;
    }
  }
}
